html,
body,
div,
main,
ul,
h3,
h2, h1
{
    font-size: 16px;

    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;

    color: #fff;
}
body
{
    font-family: 'Roboto', sans-serif;

    color: #fff;
}

p
{
    margin: 0;
    padding: 0;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

@font-face
{
    font-family: 'Nickainley';
    font-weight: normal;
    font-style: normal;

    src: url(../fonts/Nickainley.otf) format('opentype');
}

.firstScreen
{
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;

    color: #fff;
    background-image: url(../img/img1.png);
        background-position: center;
    background-size: cover;

    align-items: center;
}

#name
{
    font-family: 'Quicksand', sans-serif;

    margin-top: 15.62rem;

    cursor: default;
}

.first
{
    font-size: 12.5rem;

    padding: 0;

    letter-spacing: 1rem;
}

.second
{
    font-size: 2.5rem;

    margin-top: -3.2rem;
    padding: 0;
}

.description
{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;

    padding-top: 1.2rem;
}

.headButton
{
    position: absolute;

    width: 40px;
    height: 40px;
        margin-top: 90vh;
    padding: 6px;

    transition: padding 300ms ease;

    border: none;
    border-radius: 50%;
    background-image: url(../img/button_head.png);
    background-repeat: no-repeat;
    background-position: center;
}
.downButton
{
    position: absolute;

    display: none;

    width: 40px;
    height: 40px;
    margin-top: 90vh;
    margin-left: 47%;
    padding: 6px;

    transition: padding 300ms ease;

    border: 1.5px solid #fff;
    border-radius: 50%;
    background-image: url(../img/button_head.png);
    background-repeat: no-repeat;
    background-position: center;
}
.headButton:hover,
.downButton:hover
{
    padding: 15px;
border: 1.5px solid #fff;
    transition: border padding 300ms ease;
}

.section
{
    font-family: 'Roboto', sans-serif;
    font-size: 7.5rem;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 50vh;

    cursor: pointer;
    transition: background-color 300ms ease-in-out;

    background-color: rgba(0,0,0,.60);
    background-repeat: no-repeat;
    background-position: center;

    background-blend-mode: darken;
    /*-webkit-filter: brightness(35%);  */
    justify-content: center;
    align-items: center;
}


.name
{text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.inf
{
    font-family: 'Nickainley';
    font-size: 1.5rem;

    letter-spacing: 2px;
}


#secondScreen
{
    background-image: url(../img/img3.png);
}


#thirdScreen
{
    background-image: url(../img/img4.jpg);
}

#fourthScreen
{
    background-image: url(../img/img5.jpg);
}

#fifthScreen
{
    background-image: url(../img/img6.jpg);
}

#secondScreen .name
{
    letter-spacing: .6rem;
}

#thirdScreen .name
{
    letter-spacing: 2.5rem;
}

#fourthScreen .name
{
    letter-spacing: 1.2rem;
}

#fifthScreen .name
{
    letter-spacing: .4rem;
}


footer
{
    background-color: #111112;
}

img
{
    background-color: transparent;
}

.navFooter
{
    display: flex;

    width: 100%;
        padding: 4.25rem 0 0 0;

    list-style-type: none;

    justify-content: center;
}



.footerSection
{
    font-size: 1.4rem;

    display: block;

    margin: 0 1.2rem;

    cursor: pointer;
    transition: border-bottom 300ms ease;

    border-bottom: 4px solid transparent;
}

.navFooter .footerSection:hover
{
    transition: border-bottom 300ms ease;

    border-bottom: 3px solid #fff;
}

#navHeader
{
    display: none;
}



.navUl
{
    font-size: 1.5rem;

    position: fixed;

    display: flex;

    width: 100%;
    height: 200px;
    padding-top: 5rem;

    list-style-type: none;

    transition: opacity 1000ms ease;

    opacity: 1;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.3), rgba(0,0,0,0));

    justify-content: center;
}



.navSection
{
    margin: 0 3rem;
    padding: 1rem;

    transition: border-bottom 300ms ease;

    border-bottom: 5px solid transparent;
}
.navSection .active
{
    border-bottom: 4px solid #fff;
}
.navSection:hover
{
    transition: border-bottom 300ms ease;

    border-bottom: 3px solid #fff;
}

/* Radomir 
.navSection::after {
    box-shadow: inset 0 0 0 35px rgba(111,148,182,0);
}*/

.navSection:active,
.footerSection:active
{
    border-bottom-color: #ffa500;
}

.img_container
{
    display: flex;

    
    margin: 2rem;

    justify-content: center;
    align-items: flex-start;
}

.copyright
{
    font-size: .8rem;

    padding: 1.5rem 0;

    text-align: center;
}

.content
{
    display: none;
    flex-direction: column;

    width: 100vw;

    background-color: #101010 !important;
}
.containerW {
    width: 50%;
    margin: 100px auto;
}

.person
{
    display: flex;

    margin-bottom: 4rem;
}

.text
{
    width: 70%;
    padding: 1.8rem 0 0 3rem;
}

.text h3
{
    font-size: 1.2rem;

    padding-bottom: 1rem;
}
h2,
.logo
{
    font-size: 4vh;

    display: block;

    margin: 0 auto;

    text-align: center;
}
.logo
{
    margin-top: 2vw;
}

.mainImg
{
    height: 55vh;
}

.workExapmle
{
    height: 100vh;
    margin-bottom: -4%;
    padding-top: 7vh;

    cursor: pointer;
}
.mainpart
{
    display: flex;

    margin-top: 8vh;
    margin-left: 27vw;
}


#workExapmle1,
#workExapmle2
{
    margin-top: 4%;
    margin-bottom: 0;
}
#workExapmle1 .mainpart,
#workExapmle2 .mainpart
{
    margin-top: 4%;
}
.information
{
    display: flex;
    flex-direction: column;

    width: 20vw;

    margin-top: 12vh;
       margin-left: 4vw;

    align-content: center;
}

.information p
{
    font-size: 1.8vh;

    margin-bottom: 12%;
}


.down
{
    font-size: 3rem;
}
.contactContent {
    display: flex;
    height: 40vh;
    margin: 23vh auto 36vh;
    width: 50vw;
}

.contactContent h2 {
    font-size: 2.5vh;
    text-align: left;
}

.contact {
    margin: 0 60px 0 20px;
    width: 20vw;
    height: 40vh;
}

.contact p {
    margin: 6px auto;
    font-size: 15px;
}
.adress {
    margin: 30px auto;
}
input[type="text"] {
    outline: none;
       font-size: 14px;
    margin: 13px 0;
    height: 30px;
    border-radius: 50px;
    border: none;
    padding: 4px 13px;
}
.inputContainer {
    display: flex;
        width: 100%;
    flex-direction: column;
}
button.send {
    background-color: #FFF325;
    border-radius: 50px;
    border: none;
    outline: none;
    height: 30px;
    width: 170px;
    float: right;
}
.big {
    margin: 13px 0 4vh;
    font-size: 2vh;
    height: 90px;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    resize: none;
    padding: 13px 13px;
    outline: none;
}
.connect {
    height: 40vh;
    width: 26vw;
    margin-right: 20px;
    margin-top: -35px;
}
.connect h1 {
    font-size: 23px;
}
.connect p{
    font-size: 15px;
    margin: 10px auto;
}
@media only screen and (max-width: 500px)
{

    .firstScreen {
        background-image: url(../img/insiteSmall.jpg);
    }
    #secondScreen {
        background-image: url(../img/stormSmall.jpg);
    }
    #thirdScreen {
        background-image: url(../img/worksSmall.jpg);
    }
    #fourthScreen {
        background-image: url(../img/teamSmall.jpg);
    }
    #fifthScreen {
        background-image: url(../img/contactSmall.jpg);
    }

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-focus-ring-color: rgba(0,0,0,0);
    
}
    .mainpart
    {
        flex-direction: column;

        margin: auto;
    }
    h2
    {
        margin: 8vw;
    }
    #workExapmle4 .logo
    {
        height: 6vh;
    }
    #workExapmle2 .logo
    {
        height: 4vh;
    }
    #workExapmle3 .logo
    {
        height: 8vh;
    }
    .information
    {
        width: 100%;
        margin: 5vh 0vh;
    }
    .mainImg
    {        height: 365px;
        margin: 1vh auto;
    }
    .information p {
    width: 80%;
    margin: 10px auto;
}
    .workExapmle
    {
        height: auto;
        padding-top: 4vh;
    }
    .firstScreen {
    height: 640px;
    -webkit-background-size: cover;
    background-size: cover;
}
.first {
    font-size: 6rem;
    letter-spacing: 0.3rem;
}
    .second
    {
        font-size: 2.5rem;

        margin-top: -4vh;
        padding: 0;
    }
    .description
    {
        font-size: 4vw;
    }
    .headButton
    {
        display: none;
    }
    
    .section {
    outline: none;
    width: 100%;
    height: 200px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    background-size: center;
}
    .downButton
    {
        display: none !important;
    }
    .content
    {
        padding-bottom: 5vh;
    }

.name
{
    font-size: 12vw;

    width: 100%;
   text-align: center;

    letter-spacing: 1vw;
}
.inf
{
    font-size: 5vw;
}
#thirdScreen .name
{
    letter-spacing: 6vw;
}
#fourthScreen .name
{
    letter-spacing: 3vw;
}
.text p {
    margin: 0vh 9vw;
    font-size: 1.8vh;
}
.text h3
{
    font-size: 6vw;

    margin: 0vh auto 11vw;

    text-align: center;
}
.text
{
    width: 100%;
    padding: 0;
}
.person
{
    display: flex;
    flex-direction: column;

    margin-bottom: 4rem;
}
.containerW {
    width: 100%;
        margin: 4vh auto 0vh;
}
.person img
{
    height: 22vh;
    /* width: 16vh; */
    margin: 6vh auto;
    /* margin-left: 15vw; */
}
.img_container
{
    height: auto;
    margin: 3vh;
}
.copyright
{
    font-size: 1vw;

    padding-bottom: 1vw;

    text-align: center;
}
.footerSection
{
    font-size: 4vw;

    margin: 0 2vw;
}

.navFooter
{
    width: 100%;
    padding: 6vh 0 0 0;
}
}
@media only screen and (max-width: 1024px) {
    .downButton, .headButton {
        display: none !important;
    }
}