html,
body,
div,
main,
ul,
h3,
h2, h1
{
    font-size: 16px;

    margin: 0;
    padding: 0;
}
a
{
    text-decoration: none;

    color: #fff;
}
body
{
    font-family: 'MuseoRegular';

    color: #fff;
}

p
{
    margin: 0;
    padding: 0;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

footer
{
    background-color: #111112;
}

img
{
    background-color: transparent;
}


@font-face
{
    font-family: 'Nickainley';
    font-weight: normal;
    font-style: normal;

    src: url(../fonts/Nickainley.otf) format('opentype');
}

@font-face {
    font-family: 'MuseoBold';
    font-weight: normal;
    font-style: normal;

    src: url(../fonts/MuseoSansBold.ttf) format('truetype');
}
@font-face {
    font-family: 'MuseoRegular';
    font-weight: normal;
    font-style: normal;

    src: url(../fonts/MuseoSansRegular.ttf) format('truetype');
}
#navHeader
{
    display: none;
}



.navUl
{
    font-size: 1.5rem;

    position: fixed;

    display: flex;

    width: 100%;
    height: 200px;
    padding-top: 5rem;

    list-style-type: none;

    transition: opacity 1000ms ease;

    opacity: 1;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.3), rgba(0,0,0,0));

    justify-content: center;
}



.navSection
{
    margin: 0 3rem;
    padding: 1rem;

    transition: border-bottom 300ms ease;

    border-bottom: 5px solid transparent;
}
.navSection .active
{
    border-bottom: 4px solid #fff;
}
.navSection:hover
{
    transition: border-bottom 300ms ease;

    border-bottom: 3px solid #fff;
}


.navSection:active,
.footerSection:active
{
    border-bottom-color: #ffa500;
}

.firstScreen
{
    display: flex;
    flex-direction: column;
    

    width: 100%;
    height: 100vh;
    
   
    color: #fff;
    background-image: url(../img/img1.png);
    background-position: center;
    background-size: cover;

    align-items: center;
}

#name
{
    font-family: 'Quicksand';

    margin-top: 15.62rem;

    cursor: default;
}

.first
{
    font-size: 12.5rem;

    padding: 0;

    letter-spacing: 1rem;
}

.second
{
    font-size: 2.5rem;

    margin-top: -3.2rem;
    padding: 0;
}

.description
{
    font-family: 'MuseoRegular';
    font-size: 1.2rem;

    padding-top: 1.2rem;
}

.headButton
{
    position: absolute;

    width: 40px;
    height: 40px;
        margin-top: 90vh;
    padding: 6px;

    transition: padding 300ms ease;

    border: none;
    border-radius: 50%;
    background-image: url(../img/button_head.png);
    background-repeat: no-repeat;
    background-position: center;
}
.downButton
{
    position: absolute;

    display: none;

    width: 40px;
    height: 40px;
    margin-top: 90vh;
    margin-left: 47%;
    padding: 6px;

    transition: padding 300ms ease;

    border: 1.5px solid #fff;
    border-radius: 50%;
    background-image: url(../img/button_head.png);
    background-repeat: no-repeat;
    background-position: center;
}
.headButton:hover,
.downButton:hover
{
    padding: 15px;
    border: 1.5px solid #fff;
    transition: border padding 300ms ease;
}

.section
{
    font-family: 'MuseoBold';
    font-size: 7.5rem;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 50vh;

    cursor: pointer;
    transition: background-color 300ms ease-in-out;

    background-color: rgba(0,0,0,.60);
    background-repeat: no-repeat;
    background-position: center;

    background-blend-mode: darken;
    /*-webkit-filter: brightness(35%);  */
    justify-content: center;
    align-items: center;
}


.name
{text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.inf
{
    font-family: 'Nickainley';
    font-size: 1.5rem;

    letter-spacing: 2px;
}


#secondScreen
{
    background-image: url(../img/img3.png);
}


#thirdScreen
{   
    background-image: url(../img/img4.jpg);
}

#fourthScreen
{
    background-image: url(../img/img5.jpg);
}

#fifthScreen
{
    background-image: url(../img/img6.jpg);
}

#secondScreen .name
{
    letter-spacing: .6rem;
}

#thirdScreen .name
{
    letter-spacing: 2.5rem;
}

#fourthScreen .name
{
    letter-spacing: 1.2rem;
}

#fifthScreen .name
{
    letter-spacing: .4rem;
}

.content
{
    display: none;
    flex-direction: column;

    width: 100%;

    background-color: #101010 !important;
}


.workExapmle h2 {
    margin: 6vh auto 3vh;
    font-size: 4vh; 
    text-align: center;
}
.logo 
{   display: block;
    margin: 4vh auto;
}

.mainImg {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.smallImg {
    border-radius: 10px;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
    margin-top: -4px;
}

.workExapmle {
    height: 100vh;
    cursor: pointer;
}
.mainpart {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 4vh auto;
}



.information {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-left: 4vw;
    justify-content: center;
}

.information p
{
    font-size: 1.8vh;

    margin-bottom: 12%;
}

.containerW {
    width: 50%;
    margin: 100px auto;
}

.person
{
    display: flex;

    margin-bottom: 4rem;
}

.text
{
    width: 70%;
    padding: 1.8rem 0 0 3rem;
}

.text h3
{
    font-size: 1.2rem;

    padding-bottom: 1rem;
}

.contactContent {
    display: flex;
    height: 40vh;
    margin: 23vh auto 36vh;
    width: 50vw;
}

.contactContent h2 {
    font-size: 2.5vh;
    text-align: left;
}

.contact {
    margin: 0 60px 0 20px;
    width: 20vw;
    height: 40vh;
}

.contact p {
    margin: 6px auto;
    font-size: 15px;
}
.adress {
    margin: 30px auto;
}
input[type="text"] {
    outline: none;
       font-size: 14px;
    margin: 13px 0;
    height: 30px;
    border-radius: 50px;
    border: none;
    padding: 4px 13px;
}
.inputContainer {
    display: flex;
        width: 100%;
    flex-direction: column;
}
button.send {
    background-color: #FFF325;
    border-radius: 50px;
    border: none;
    outline: none;
    height: 30px;
    width: 40%;
    margin-left: 60%;
}
.big {
    margin: 13px 0 4vh;
    font-size: 15px;
    height: 90px;
    border-radius: 20px;
    font-family: "Museo";
    resize: none;
    padding: 13px 13px;
    outline: none;
}
.connect {
    height: 40vh;
    width: 26vw;
    margin-right: 20px;
    margin-top: -35px;
}
.connect h1 {
    font-size: 23px;
}
.connect p{
    font-size: 15px;
    margin: 10px auto;
}
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    display: flex;
    flex-direction: column;
    padding: 0;
    height: auto;
    /* border: 1px solid #333; */
}
.wind {
    margin-top: -220px;
}
.crack {
    margin-top: -291px;
}

.trend3 {
    margin-top: -287px;
}
.trend2{
    margin-top: -301px;
}
.land2 {
    margin-top: -268px;
}
.land3 {
    margin-top: -250px;
}
.hover {
-webkit-user-select: none;
-webkit-touch-callout: none;        
}


.mainImg {
    border-radius: 10px;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.navFooter
{
    display: flex;

    width: 100%;
        padding: 4.25rem 0 0 0;

    list-style-type: none;

    justify-content: center;
}



.footerSection
{
    font-size: 1.4rem;

    display: block;

    margin: 0 1.2rem;

    cursor: pointer;
    transition: border-bottom 300ms ease;

    border-bottom: 4px solid transparent;
}

.navFooter .footerSection:hover
{
    transition: border-bottom 300ms ease;

    border-bottom: 3px solid #fff;
}

.img_container
{
    display: flex;

    
    margin: 2rem;

    justify-content: center;
    align-items: flex-start;
}

.copyright
{
    font-size: .8rem;

    padding: 1.5rem 0;

    text-align: center;
}


.close {
    display: none;

    cursor: pointer;
position: fixed;
z-index: 10;
right: 5%;
top: 5%;
width: 60px;
height: 60px;
opacity: 0.85;
border: 4px solid transparent;


}

.close:before, .close:after {
    position: absolute;
    content: ' ';
    left: 29px;
    height: 50px;
    width: 2px;
    background-color: #fff;
    top: 5px;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}

@media only screen and (max-width: 500px)
{

    .close {
    display: none;
    cursor: pointer;
position: fixed;
z-index: 999;
right: 1%;
top: 1%;
width: 30px;
height: 30px;
opacity: 1;
border: 4px solid transparent;


}




.close:before, .close:after {
    position: absolute;
    content: ' ';
    left: 14px;
    height: 30px;
    width: 2px;
    background-color: #fff;
    top: 1px;
}
    .flip-container .mainImg {
     transform: translateZ(40px) translateX(-20px) translateY(20px) rotateZ(10deg) rotateY(-36deg);
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
    transition: all 0.7s;
}
  .flip-container .smallImg {
     transform: translateZ(40px) translateX(-60px) translateY(-120px) rotateZ(10deg) rotateY(-36deg);
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
    margin-bottom: -65px;
    transition: all 1s ease;
}
 .flip-container .wind {
    transform: translateZ(90px) translateX(-77px) translateY(-116px) rotateZ(10deg) rotateY(-36deg);
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
}
.flip-container .crack {
    transform: translateZ(90px) translateX(-71px) translateY(-110px) rotateZ(10deg) rotateY(-36deg);
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
}
.flip-container .trend1 {
    transform: translateZ(40px) translateX(21px) translateY(20px) rotateZ(10deg) rotateY(-36deg);
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
    transition: all 0.7s;
}
.flip-container .trend2 {
    transform: translateZ(90px) translateX(-19px) translateY(-210px) rotateZ(10deg) rotateY(-36deg);
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
}
.flip-container .trend3 {
    transform: translateZ(90px) translateX(-53px) translateY(-371px) rotateZ(10deg) rotateY(-36deg);
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
        transition: all 1s ease;
        margin-bottom: -50vh;
}
.flip-container .land1 {
    transform: translateZ(40px) translateX(21px) translateY(20px) rotateZ(10deg) rotateY(-36deg);
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
    transition: all 0.7s;
}
.flip-container .land2 {
    transform: translateZ(90px) translateX(-19px) translateY(-210px) rotateZ(10deg) rotateY(-36deg);
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
}
.flip-container .land3 {
    transform: translateZ(90px) translateX(-53px) translateY(-371px) rotateZ(10deg) rotateY(-36deg);
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
        transition: all 1s ease;
        margin-bottom: -50vh;
}
  .flip-container.hover .mainImg {
     transform: translateZ(0) translateX(0) translateY(0) rotateZ(0deg) rotateY(0deg);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
    margin-bottom: 0;
    transition: all 1s ease;
}
  .flip-container.hover .smallImg {
     transform: translateZ(0) translateX(0) translateY(0) rotateZ(0deg) rotateY(0deg);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
    margin-bottom: 0;
    transition: all 1s ease;
}


    .firstScreen {
        background-image: url(../img/insiteSmall.jpg);
    }
    #secondScreen {
        background-image: url(../img/stormSmall.jpg);
    }
    #thirdScreen {
        background-image: url(../img/worksSmall.jpg);
    }
    #fourthScreen {
        background-image: url(../img/teamSmall.jpg);
    }
    #fifthScreen {
        background-image: url(../img/contactSmall.jpg);
    }

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-focus-ring-color: rgba(0,0,0,0);
    
}
    .mainpart
    {
        flex-direction: column;

        margin: auto;
    }
    h2
    {
        margin: 8vw;
    }
    #workExapmle4 .logo
    {
        height: 6vh;
    }
    #workExapmle2 .logo
    {
        height: 4vh;
    }
    #workExapmle3 .logo
    {
        height: 8vh;
    }
    .information
    {
        width: 100%;
        margin: 5vh 0vh;
    }
    .mainImg
    {        
        height: 45vh;
        margin: 0 auto;
    }
    .smallImg
    {                height: 13.7vh;

        margin: 0 auto;
    }
    .trend2 {
    height: 40vh;
}
.trend3 {
    height:29.5vh;
}
.crack {
    height: 21.2vh;
}
.wind {
    height: 19vh;
}

#workExapmle5 .smallImg {
    height: 16vh;
}
.land2 {
    height: 48vh;
}
.land3 {
    height: 31.5vh;
}



    .information p {
    width: 80%;
    font-size:  16px;
    margin: 10px auto;
}
    .workExapmle
    {
        height: auto;
        padding-top: 4vh;
    }
    .firstScreen {
    height: 640px;
    -webkit-background-size: cover;
    background-size: cover;
}
.first {
    font-size: 6rem;
    letter-spacing: 0.3rem;
}
    .second
    {
        font-size: 2.5rem;

        margin-top: -4vh;
        padding: 0;
    }
    .description
    {
        font-size: 4vw;
    }
    .headButton
    {
        display: none;
    }
    
    .section {
    outline: none;
    width: 100%;
    height: 200px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    background-size: center;
}
    .downButton
    {
        display: none !important;
    }
    .content
    {
        padding-bottom: 5vh;
    }

.name
{
    font-size: 12vw;

    width: 100%;
   text-align: center;

    letter-spacing: 1vw;
}
.inf
{
    font-size: 5vw;
}
#thirdScreen .name
{
    letter-spacing: 6vw;
}
#fourthScreen .name
{
    letter-spacing: 3vw;
}
.text p {
    margin: 0vh 9vw;
    font-size: 16px;
}
.text h3
{
    font-size: 6vw;

    margin: 0vh auto 11vw;

    text-align: center;
}
.text
{
    width: 100%;
    padding: 0;
}
.person
{
    display: flex;
    flex-direction: column;

    margin-bottom: 4rem;
}
.containerW {
    width: 100%;
        margin: 4vh auto 0vh;
}
.person img
{
    height: 22vh;
    /* width: 16vh; */
    margin: 6vh auto;
    /* margin-left: 15vw; */
}
.img_container
{
    height: auto;
    margin: 3vh;
}
.copyright
{
    font-size: 1vw;

    padding-bottom: 1vw;

    text-align: center;
        padding: 10px;
}
.footerSection
{
    font-size: 4vw;

    margin: 0 2vw;
}

.navFooter
{
    width: 100%;
    padding: 6vh 0 0 0;
}
.contactContent {
    display: flex;
    /* flex-direction: row; */
    /* height: 40vh; */
    height: auto;
    margin: 0;
    flex-direction: column;
    /* margin: 23vh auto 36vh; */
    width: 100%;
}
.contact {
    /* margin: 0 60px 0 20px; */
    width: 100%;
    margin: 0;
    height: auto;
}
.contactContent h2 {
    font-size: 23px;
    text-align: center;
    margin: 8vw auto;
}
.adress {
    margin: 30px auto 0;
    /* width: 100%; */
    text-align: center;
}
.contact p {
    margin: 6px auto;
    font-size: 16px;
}
.connect {
    /* height: 40vh; */
    /* margin: 40px auto 0; */
    width: 100%;
    height: auto;
    text-align: center;
    /* margin-right: 20px; */
    /* margin-top: -35px; */
}
.connect h1 {
    font-size: 25px;
    margin: 50px auto 10px;
}
.connect p {
    font-size: 16px;
    margin: 10px 35px;
}
.inputContainer {
    display: flex;
    width: 85%;
    margin: 20px auto;
    flex-direction: column;
}
input[type="text"] {
    outline: none;
    font-size: 14px;
    margin: 13px 0;
    height: 30px;
    border-radius: 50px;
    border: none;
    padding: 4px 13px;
}
button.send {
    background-color: #FFF325;
    border-radius: 50px;
    border: none;
    outline: none;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
}

.flip-container {
    margin: 30px;
}


}

@media only screen and (max-width: 1024px) {
    .downButton, .headButton {
        display: none !important;
    }
}

@media only screen and (min-width: 1024px) {
    .close:hover {
opacity: 1;


}
    .flip-container:hover .mainImg {
    -webkit-transform: rotateZ(15deg) rotateY(-30deg);
    -moz-transform: translateX(-100%) rotateY(-30deg);
    -o-transform: translateX(-100%) rotateY(-180deg);
    transform: translateZ(0px) rotateZ(10deg) rotateY(-36deg);
    box-shadow: 5px 6px 9px 5px rgba(0,0,0,0.5);
    transition: all 0.7s;
}
.flip-container:hover .smallImg {
    transform: translateZ(90px) translateX(-85px) translateY(-316px) rotateZ(10deg) rotateY(-36deg);
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
}
.flip-container:hover .wind {
    transform: translateZ(90px) translateX(-77px) translateY(-116px) rotateZ(10deg) rotateY(-36deg);
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
}
.flip-container:hover .crack {
    transform: translateZ(90px) translateX(-71px) translateY(-110px) rotateZ(10deg) rotateY(-36deg);
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
}

.flip-container:hover .trend2 {
    transform: translateZ(90px) translateX(-76px) translateY(-70px) rotateZ(10deg) rotateY(-36deg);
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
}
.flip-container:hover .trend3 {
    transform: translateZ(90px) translateX(-151px) translateY(-43px) rotateZ(10deg) rotateY(-36deg);
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
}
.flip-container:hover .land2 {
    transform: translateZ(90px) translateX(-85px) translateY(-69px) rotateZ(10deg) rotateY(-36deg);
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
}
.flip-container:hover .land3 {
    transform: translateZ(90px) translateX(-169px) translateY(-59px) rotateZ(10deg) rotateY(-36deg);
    box-shadow: 10px 10px 10px 10px rgba(0,0,0,0.3);
}
}